
<div class="list-product">
    <div class="container">
      @for(category of categories; track category.id){
        @if(category.id == categoryId){
          <h2 class="title">{{category.name}}</h2>
        }
      }
        <div class="row">
            <!-- @for(product of products; track product.id) {
              <div class="col-lg-4 col-md-6">
                <div class="product-item" (click)="onProductClick(product.id)">
                    <img [src]="product.url" alt="Product Image" class="product-image">
                    <h3 class="product-name">{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                    <p class="product-price">Giá: ${{ product.price }}</p>                
                </div>
              </div>
            }   -->
           

      </div> 
      <swiper-container class="row"
      [slidesPerView] = "slidesPerView"
      navigation = "true"
      spacebetween = "true"
      pagination-clickable = "true"
      pagination = "true"
      autoplay='{"delay": 5000}'
      >
      @for(product of products; track product.id) {
          @if (product.category_id == categoryId){
            <swiper-slide class="col-lg-4 col-md-6">
              <div class="product-item" (click)="onProductClick(product.id)">
                  <img [src]="product.url" alt="Product Image" class="product-image">
                  <h3 class="product-name">{{ product.name }} </h3>
                  <p class="product-description">{{ product.description }}</p>
                  <p class="product-price">Giá: ${{ product.price }}</p>                
              </div>
            </swiper-slide>  
          }
      }        
      </swiper-container>
  <!-- <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        @if(currentPage > 0) {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(0)">First</a>
          </li>
        }
        @if(currentPage > 0) {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(currentPage - 1)">
              <i class="fa fa-chevron-left"></i>
            </a>
          </li>
        }            
        @for(page of visiblePages; track page) {
          <ng-container>
            <li class="page-item" [ngClass]="{'active': page === currentPage + 1}">
              <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
            </li>
          </ng-container>
        }     
        
         @if(currentPage < totalPages - 1)  {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(currentPage + 1)">
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(totalPages - 1)">Last</a>
          </li>
         }        
      </ul>
    </nav>
  </div> -->

        
    </div>

</div>
